version: '3'
services:
  redis:
    image: "redis:alpine" # Redis 4.0
  mongo:
    image: "mongo:jessie" # Mongo 3.6
    command: mongod --port 27018
  web:
    build: .
    command: bash -c "sleep 5 && npm test"
    depends_on:
      - redis
      - mongo
    links:
      - redis
      - mongo
    environment:
      NODE_ENV: development
      JWT_SECRET: UDIA Development JWT Secret Key
      MONGODB_URI: mongodb://mongo:27018
      PORT: 3000
      SALT_ROUNDS: 12
      SMTP_USERNAME: da4a6rdcusm7e2wt@ethereal.email
      SMTP_HOST: smtp.ethereal.email
      SMTP_PORT: 587
      EMAIL_TOKEN_TIMEOUT: 3600000
      REDIS_URL: redis://redis:6379
      CORS_ORIGIN: http://localhost:3001
      CLIENT_DOMAINNAME: localhost:3001
      CLIENT_PROTOCOL: http
    ports:
      - "3000:3000"
